html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.title-card {
  position: relative;
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
}

.title-card > h1 {
  font-family: "Cinzel", serif;
  font-weight: 500;
  font-size: xx-large;
  width: 100%;
  margin: auto auto;
  text-align: center;
}
.swiper-container {
  margin: 5px 0px;
}
.full-screen-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Default background color */
  color: #333; /* Default text color */
}
/* Optional styling for navigation */
/* nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
} */

/* .swiper-container {
  user-select: none;
  width: 100%;
  height: 80vh;
  object-fit: contain;
  position: relative;
}

.swiper-coverup {
  position: absolute;
  position: absolute;
  inset: 0;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  overflow: hidden;
  height: 100%;
  width: auto;
}
.swiper-slide > img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.swiper-slide > h3 {
  font-family: "Cinzel", serif;
  font-weight: 500;
  font-size: xx-large;
  color: white;
  position: absolute;
}

.swiper-button-next,
.swiper-button-prev {
  height: 80vh;
  transform: translateY(-50%);
  margin-top: 0px;
  width: 60px;
  opacity: 0;
  pointer-events: none;
  color: white;
  transition: transform 0.3s ease;
}

.swiper-button-next {
  right: 0;
  &:hover {
    transform: translate(10px, -50%);
  }
}

.swiper-button-prev {
  left: 0;
  &:hover {
    transform: translate(-10px, -50%);
  }
} */

.hide-on-mobile {
  display: none;
}

@media (orientation: landscape) {
  .title-card {
    scroll-snap-align: center;
  }
  .swiper-container {
    scroll-snap-align: center;
    max-height: 80vh;
  }

  main {
    margin: 0 auto;
  }

  .swiper-wrapper {
    max-height: 100%;
  }

  .swiper-wrapper > img {
    object-fit: fill;
  }

  .swiper-button-next,
  .swiper-button-prev {
    opacity: 1;
    pointer-events: all;
  }

  .hide-on-mobile {
    display: block;
  }
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(400px, 1fr)
  ); /* Adjust columns based on screen width */
  grid-gap: 10px;
}

.grid-column {
  display: none;
  flex-direction: column;
  min-height: 400px;
}

.grid-column.shown {
  display: flex;
}

.photothumb {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px; /* Spacing between images */
  min-height: 300px;

  cursor: pointer;
  /* Start with hidden opacity */
  opacity: 0;
  transition: opacity 0.5s ease-in; /* 0.5s transition for opacity */
}

.bottom-observer {
  width: 100%;
  height: 10px;
}

.down-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 1s ease-in;
}

.down-arrow .material-symbols-rounded {
  font-size: 96px; /* Adjust size as needed */
  color: #333; /* Adjust color as needed */
  transition: opacity 0.3s ease;
}

#photos-modal {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
}

.hidden {
  display: none !important;
}

#photos-modal > .modal-content {
  position: absolute; /* Keeps absolutely positioned icons safe */

  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(20px);
  max-width: 90vw;
  max-height: 90vh;
  width: fit-content;
  height: fit-content;
  padding: 0;
  overflow: hidden; /* Prevents content from overflowing */
  z-index: 2;
  border: none;
}

#background-clicker {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.01);
}
.modal-image {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: contain; /* Ensures the aspect ratio is preserved */
  display: block;
}

#right-arrow,
#left-arrow {
  position: fixed;
  z-index: 4;
  height: fit-content;
  font-size: 96px;
  color: #e4e4e4;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s ease;
  text-shadow: 0 0 5px gray;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}
#left-arrow {
  left: 5%;
  &:hover {
    transform: translate(-20px, -50%);
  }
}
#right-arrow {
  right: 5%;
  &:hover {
    transform: translate(20px, -50%);
  }
}
