<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include.html' %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    {% include 'banner.html' %}
    
    <main>
        <section class="hero">
            <img id="logo" src="{{url_for('static', filename='images/logo.png')}}" alt="Lizzie McGuire Logo">
            <p>Capturing moments, one shot at a time.</p>
            <img id="cover-photo" src="{{url_for('static', filename='images/cover-photo.jpg')}}" alt="cover photo">
        </section>
        <section class="intro">
            <h2>My Work</h2>
            <p>Explore my portfolio to see a range of my work</p>
        </section>
    </main>
    {% include 'footer.html' %}
</body>
</html>
