<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photography Portfolio</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    /> -->

    <!-- Swiper CSS -->
    {% include 'include.html' %}
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/portfolio.css') }}"
    />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Nanum+Myeongjo:wght@400;700;800&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    /> -->
  </head>
  <body>
    {% include 'banner.html' %}
    <main>
      <section class="title-card">
        <h1>Here's some of my work</h1>
      </section>

      {% for folder, data in gallery_data.items() %}
      <section
        class="swiper-container"
        style="aspect-ratio: {{data.aspect_ratio}};"
      >
        <div class="swiper-coverup" id="{{ loop.index }}"></div>

        <div class="swiper-wrapper">
          {% for image in data.images %}
          <div class="swiper-slide">
            {% if loop.index == 1 %}
            <h3>{{ folder }}</h3>
            {% endif %}
            <img
              src="{{ url_for('static', filename='images/photos/' + folder + '/' + image) }}"
              alt="{{ folder }} - Image {{ loop.index }}"
            />
          </div>
          {% endfor %}
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </section>
      {% endfor %}
    </main>

    {% include 'footer.html' %}
  </body>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script src="{{ url_for('static', filename='js/portfolio.js')}}"></script>
  <script>
    var swiper = new Swiper(".swiper-container", {
      slidesPerView: "auto",
      centeredSlides: true,
      spaceBetween: 30,
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</html>
